/*Base inicial de documento css(reset/formatação/var's)*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
a{
    color: rgb(97, 95, 219);
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    color: rgb(73, 71, 216);
    text-decoration: underline;
}
:root{
    --black: #000000;
    --font_Oswald: 'Oswald', sans-serif;
    --TextWhite: #FFFFFF;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.clear{clear: both;}
/*Header*/
.logo-img{
    width: 208px;
    height: 82px;
    background-image: url("../img/logo.jpg");
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}
header{
    padding: 20px 2% 35px 2%;
    height: 130px;
    font-weight: var(--bold);
    font-family: var(--font_Oswald);
    font-style: italic;
}
/*Menu header*/
header div.logo-img{
    float: left;
}
header nav.desktop{
    float: right;
    position: relative;
    top: 35px;
}
header nav.desktop ul{
    list-style-type: none;
}
header nav.desktop ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
}
header nav.desktop ul li a{
    color: var(--black);
    text-decoration: none !important;
}
header nav.desktop ul li:first-child a{
    color: #EB2D2D;
}
nav.mobile{
    margin-top: 40px;
    display: none;
    width: 32px;
    height: 32px;
    float: right;
    cursor: pointer;
    background-image: url("../img/icon_menu.png");
    background-size: 100% 100%;
}
nav.mobile ul{
    width: 100%;
    background-color: #fffffff8;
    position: absolute;
    text-align: center;
    left: 0;
    top: 110px;
    z-index: 99;
}
nav.mobile li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
    border: 0.8px solid #EB2D2D;
}
nav.mobile li a{
    color: #000000;
    text-decoration: none !important;
}
/*Banner*/
section.banner{
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-color: var(--black);
    background-image: url("../img/bg.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.text-banner{
    padding: 100px;
}
.text-banner-single{
	width: 314px;
	font-style: italic;
	margin-top:30px;
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
    font-family: var(--font_Oswald);
	text-transform: uppercase;
    font-weight: bold;
	color: var(--TextWhite);
	font-size: 23px;
	background-image: url("../img/box-text.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	height: 70px;
	line-height: 70px;
	position: relative;
	left: -20px;
}
.text-banner .text-banner-single:nth-of-type(4){
	width: 320px;
	height: 70px;
    font-size: 21px;
    background-image: url("../img/box-white-text.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000000;
    position: relative;
    left: -30px;
}
section.veiculos-destaque{
    padding: 90px 2%;
}
section.veiculos-destaque .container{
    max-width: 1000px;
    padding: 40px 0;
}
.vitrine-destaque{
     float: left;
     font-family: var(--font_Oswald);
     width: 33.3%;
}
.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 100%;
    background-image: url("../img/carro1.jpg");
    border: 8px solid #FFFFFF;
    background-size: 100% 100%;
}
.vitrine-destaque h2{
    padding-left: 8px;
    color: #000000;
    font-style: italic;
    font-size: 20px;
}
.vitrine-destaque p{
    padding: 8px 0 0 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
}
.vitrine-destaque a{
    margin: 10px 0 0 8px;
    color: #FFFFFF;
    background-color: #EB2D2D; 
    font-style: italic;
    width: 150px;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-bottom: 5px solid #B21E1E; 
    text-decoration: none !important;  
    transition: 0.2s;
}
.vitrine-destaque a:hover{
    border-bottom: 2px solid #B21E1E;
}
section.veiculos-destaque .line-titulo > h2{
    position: relative;
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    padding: 0 20px;
    font-style: italic;
    font-family: var(--font_Oswald);
    text-transform: uppercase;
}
.line-titulo{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.ln1{
    position: absolute;
    height: 2px;
    top: 20px;
    background-color: #333333;
    width: 100%;
}


/*Responsivo 768px*/
@media screen and (max-width: 768px){
	section.banner{
		background-size: cover;
		background-position: 100px center;
		height: 80vh;
	}
	nav.desktop
	{
		display: none;
	}
    nav.mobile{
        display: block;
    }
    header nav.mobile ul li:first-child a{
        color: #EB2D2D;
    }
}
/*Responsivo 580px*/
@media screen and (max-width: 580px){
.text-banner{
	padding:30px;
}
.text-banner-single{
	width: 240px;
	font-size: 18px;
}
.text-banner .text-banner-single:nth-of-type(4){
	width: 270px;
}
section.veiculos-destaque .container{
    max-width: 1000px;
    padding: 40px 0;
    text-align: center;
}
.vitrine-destaque{
    display: inline-block;
    float: none;
    width: 80%;
    margin-top: 20px;
}
.vitrine-destaque a{
    display: inline-block;
}
section.veiculos-destaque .line-titulo > h2{
        font-size: 23px;
}
}
/*Responsivo 480px*/
@media screen and (max-width: 480px){
    .vitrine-destaque{
        width: 100%;
    }
}